<div class="panel panel-success">
    <div class="panel-heading">导入区域号段</div>
    <br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <label>文件类型：
                    <input type="radio" ng-model="fileType" value="excel"><label>Excel文件</label>&nbsp;
                    <input type="radio" ng-model="fileType" value="txt"/><label>Txt文件</label>&nbsp;
                    <input type="radio" ng-model="fileType" value="csv"/><label>Csv文件 </label>
                </label>
            </div>
            <div class="span12"  ng-show="fileType == 'txt'">
                <br>
                <label>分隔符：
                    <input type="radio"ng-model="delimiter" value="," /><label>逗号</label>&nbsp;
                    <input type="radio" ng-model="delimiter" value="\|" /><label>&nbsp;|&nbsp;</label>&nbsp;
                    <input type="radio" ng-model="delimiter" value=" " /><label>空格</label>&nbsp;
                    <input type="radio" ng-model="delimiter" value="\t" /><label>Tab</label>&nbsp;
                    <input type="radio" ng-model="delimiter"  value="otherDelimiter"/><label>其他</label>
                    <input type="text"  ng-model="otherDelimiter" maxlength="1" size="3" ng-disabled="delimiter !='otherDelimiter'" style="width:30px;" />
                </label>
            </div>
            <div class="span12">
                <br>
                <div class="form-group form-inline" style="margin-left: 5px;">
                    <input type="text" id="inputCertifyFile" name="certifyFile" ng-model="uploadData.certifyFile.name" class="form-control"
                           ng-maxlength="50"/>
                    <button type="button"  class="btn btn-default" ngf-select ngf-pattern="application/{{fileType}}" ng-model="uploadData.certifyFile"
                            accept="application/{{fileType}}" ngf-max-size="10MB" ngf-multiple="false">
                        选择附件
                    </button>
                    <button class="btn btn-primary" ng-click="uploadCertifyFile();" ng-show="uploadData.certifyFile">开始上传</button>
                    <span ng-show="progress.certifyFile > 0 && progress.certifyFile < 100">{{progress.certifyFile}}%</span>
                    <span ng-show="progress.certifyFile == 100"><i class="green fa fa-check"></i></span>
                    <a ng-if="phrase.certifyFile" ng-href="service/common/download?path={{phrase.certifyFile}}">{{phrase.certifyFile}}</a>
                </div>
            </div>
            <br>
            <div class="span12">
                <form class="form-inline w5c-form" name="regiontelesegForm" w5c-form-validate="" novalidate>
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td width="20%" align="center">系统列</td>
                            <td width="20%" align="center">文件列</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="text-center">
                                    <button type="button" class="btn btn-sm btn-primary" ng-disabled="regiontelesegForm.$invalid || regiontelesegForm.$pristine" ng-click="submitForm();"><i class="fa fa-sign-in"></i> 导入</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-sm btn-info" onclick="window.history.back();"><i class="fa fa-undo"></i> 返回</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>


<!--<div class="import">-->
<!--<ul>-->
<!--<li id="import_error_msg_span" class="font_red12" style="display:none;"></li>-->
<!--<li>文件类型：-->
<!--<input type="radio" id="rad_file_type0" name="radFileType" checked="checked" value="excel"/><label for="rad_file_type0">Excel文件</label>&nbsp;-->
<!--<input type="radio" id="rad_file_type1" name="radFileType" value="text"/><label for="rad_file_type1">Txt文件</label>&nbsp;-->
<!--<input type="radio" id="rad_file_type2" name="radFileType" value="csv"/><label for="rad_file_type2">Csv文件 </label>-->
<!--</li>-->
<!--<li id="li_delimiter" style="display: none;">分 隔 符：-->
<!--<input type="radio" id="rad_delimiter0" name="radDelimiter" checked="checked" value="," /><label for="rad_delimiter0">逗号</label>&nbsp;-->
<!--<input type="radio" id="rad_delimiter1" name="radDelimiter" value="\|" /><label for="rad_delimiter1">&nbsp;|&nbsp;</label>&nbsp;-->
<!--<input type="radio" id="rad_delimiter2" name="radDelimiter" value=" " /><label for="rad_delimiter2">空格</label>&nbsp;-->
<!--<input type="radio" id="rad_delimiter3" name="radDelimiter" value="\t" /><label for="rad_delimiter3">Tab</label>&nbsp;-->
<!--<input type="radio" id="rad_delimiter4" name="radDelimiter" value=""/><label for="rad_delimiter4">其他</label>-->
<!--<input type="text" id="txt_other" maxlength="1" size="3" disabled="disabled" style="width:30px;" />-->
<!--</li>-->
<!--<li>文&nbsp;件&nbsp;名：<input id="fileUpload" type="file" name="file" />&nbsp;&nbsp;<input type="button" value=" 上 传 " onclick="ajaxFileUpload();" /></li>-->
<!--<li id="uploading" style="display:none;"><span class="sloading">文件上传中，请稍候...</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="import_list">-->
<!--<form id="import_form" method="post" >-->
<!--<input type="hidden" id="hd_delimiter" name="delimiter" value="" />-->
<!--<input type="hidden" id="hd_file_name" name="fileName" value="" />-->
<!--<table id="columnsTable" cellpadding="0" cellspacing="0">-->
<!--<tr class="import_t">-->
<!--<td align="center">系&nbsp;统&nbsp;列</td>-->
<!--<td width="70%" align="center">文&nbsp;件&nbsp;列</td>-->
<!--</tr>-->
<!--<tr id="import_btn">-->
<!--<td colspan="2" align="center" height="40"><input id="btn_import" class="improt" type="button" value="" disabled="disabled" onclick="doImport()"/></td>-->
<!--</tr>-->
<!--</table>-->
<!--</form>-->

<!--<script type="text/javascript">-->
    <!--var name = "${name}";-->
    <!--var columns = eval('(${columns})');-->
    <!--var notEmpty = "${notEmpty}".split(",");-->
    <!--var actionPath = "${actionPath}";-->
    <!--var taskUrl = "${context}<%=Keys.SYS_TASK_IDX%>?type=1";-->
    <!--var columnCount = 0;-->
    <!--$.fn.popPageInit = function () {-->
        <!--$.each(columns, function (k, v) {-->
            <!--var tr = $('<tr><td class="left"><label id="lab_map_' + k + '">' + v + '：</label></td><td class="right" id="sel_td_' + k + '">&nbsp;</td></tr>)');-->
            <!--$("#import_btn").before(tr);-->
            <!--columnCount++;-->
        <!--});-->
        <!--$(":radio[name='radFileType']").click(function () {-->
            <!--if ($(this).val() == "text") {-->
                <!--$('#li_delimiter').show();-->
                <!--var fileType = $(":radio[name='radFileType']:checked").val();-->
                <!--var delimiter = ",";// default delimiter-->
                <!--if (fileType == 'text') {-->
                    <!--delimiter = $(":radio[name='radDelimiter']:checked").val();-->
                <!--}-->
                <!--$('#hd_delimiter').attr("value", delimiter);-->
            <!--} else {-->
                <!--$('#li_delimiter').hide();-->
                <!--$('#hd_delimiter').attr("value", "");-->
            <!--}-->
        <!--});-->
        <!--$(":radio[name='radDelimiter']").click(function () {-->
            <!--var txtOther = $("#txt_other");-->
            <!--var checked = ($(this).val().length == 0) ? true : false;-->
            <!--txtOther.attr("disabled", !checked);-->
            <!--if (checked) {-->
                <!--txtOther.focus();-->
            <!--} else {-->
                <!--$("#hd_delimiter").attr("value", $(this).val());-->
            <!--}-->
        <!--});-->
    <!--};-->
    <!--function ajaxFileUpload() {-->
        <!--var errorSpan = $("#import_error_msg_span");-->
        <!--if ($("#fileUpload").val() == '') {-->
            <!--errorSpan.show().html("请选择导入文件！");-->
            <!--return;-->
        <!--}-->
        <!--var fileType = $(":radio[name='radFileType']:checked").val();-->
        <!--var delimiter = ",";// default delimiter-->
        <!--if (fileType == 'text') {-->
            <!--var val = $(":radio[name='radDelimiter']:checked").val();-->
            <!--if (val.length == 0) {-->
                <!--delimiter = $("#txt_other").val();-->
                <!--if (delimiter.length == 0) {-->
                    <!--errorSpan.show().html("请输入分隔符！");-->
                    <!--return;-->
                <!--}-->
                <!--var mark = ["+", "&", "*", "?", "^", "|", "\\", "：", ":", "$", ",", "，"];-->
                <!--if (mark.indexOf(delimiter) == -1) {-->
                    <!--errorSpan.show().html("不能使用\"" + delimiter + "\"分隔符！");-->
                    <!--return;-->
                <!--}-->
                <!--if (delimiter == ";" || delimiter == "；") {-->
                    <!--errorSpan.show().html("不能使用\"" + delimiter + "\"分隔符！");-->
                    <!--return;-->
                <!--}-->
            <!--} else {-->
                <!--delimiter = $("#hd_delimiter").val();-->
            <!--}-->
        <!--}-->
        <!--if (columnCount == 1) {-->
            <!--delimiter = "Single";-->
        <!--}-->
        <!--$('#hd_delimiter').attr("value", delimiter);-->
        <!--if (!isValidFileType(fileType, $("#fileUpload").val())) {-->
            <!--errorSpan.show().html("请选择正确的文件类型！");-->
            <!--return;-->
        <!--}-->
        <!--errorSpan.hide();-->
        <!--$("#uploading").show();-->
        <!--$.ajaxFileUpload({-->
            <!--url: "${context}" + actionPath + "?action=doUpload",-->
            <!--secureuri: false,-->
            <!--fileElementId: "fileUpload",-->
            <!--dataType: "json",-->
            <!--data: {"delimiter": delimiter},-->
            <!--success: function (json, status) {-->
                <!--$("#uploading").hide();-->
                <!--if (json.ret == 0) {-->
                    <!--var sobj = {};-->
                    <!--$.each(columns, function (k, v) {-->
                        <!--sobj[k] = "";-->
                    <!--});-->
                    <!--$("#btn_import").attr("disabled", false);-->
                    <!--errorSpan.show().html("文件上传成功，请设置映射列！");-->
                    <!--$("#hd_file_name").attr("value", json.data.fileName);-->
                    <!--$.each(json.data.columns, function (idx, _column) {-->
                        <!--$.each(_column, function (key, value) {-->
                            <!--var i = 0;-->
                            <!--$.each(columns, function (k, v) {-->
                                <!--var opt = '<option value="' + key + '"';-->
                                <!--if ($("#lab_map_" + k).text() == (value + "：")) {-->
                                    <!--opt += ' selected="selected"';-->
                                <!--}-->
                                <!--opt += '>' + value + '</option>';-->
                                <!--sobj[k] += opt;-->
                            <!--});-->
                        <!--});-->
                    <!--});-->
                    <!--$.each(sobj, function (k, v) {-->
                        <!--var select = $("<select/>", {"name": k, "id": "sel_map_" + k, "class": "input_style_B"});-->
                        <!--$(select).append('<option value="-1">请选择</option>').append(v);-->
                        <!--$("#sel_td_" + k).empty().append(select);-->
                    <!--});-->
                <!--} else {-->
                    <!--errorSpan.show().html("文件上传失败：" + json.msg);-->
                <!--}-->
            <!--},-->
            <!--error: function (data, status, e) {-->
                <!--$("#uploading").hide();-->
                <!--errorSpan.show().html("文件上传失败：" + data.msg);-->
            <!--}-->
        <!--});-->
    <!--}-->
    <!--function isValidFileType(fileType, fileName) {-->
        <!--var val = fileName.substring(fileName.lastIndexOf(".")).toLowerCase();-->
        <!--switch (fileType) {-->
            <!--case 'excel':-->
                <!--return (val == '.xls' || val == '.xlsx');-->
            <!--case 'text':-->
                <!--return (val == '.txt');-->
            <!--case 'csv':-->
                <!--return (val == '.csv');-->
        <!--}-->
    <!--}-->
    <!--function doImport() {-->
        <!--var isOk = true;-->
        <!--var errorSpan = $("#import_error_msg_span");-->
        <!--$("select[id^='sel_map']").each(function (k, n) {-->
            <!--var value = $(this).val();-->
            <!--for (var i = 0; i < notEmpty.length; i++) {-->
                <!--var k = notEmpty[i];-->
                <!--if (n.id == "sel_map_" + k && value == -1) {-->
                    <!--errorSpan.show().html(columns[k] + "是必填项！");-->
                    <!--isOk = false;-->
                <!--}-->
            <!--}-->
            <!--var sameValue = $("select[id^='sel_map'][value=" + value + "]");-->
            <!--if (sameValue && sameValue.length > 1 && value != -1) {-->
                <!--sameValue.select();-->
                <!--sameValue.focus();-->
                <!--errorSpan.show().html("同一系统列不可对应多项文件列名！");-->
                <!--isOk = false;-->
            <!--}-->
            <!--if (!isOk) {-->
                <!--return false;-->
            <!--}-->
        <!--});-->
        <!--if (!isOk) {-->
            <!--return;-->
        <!--}-->


        <!--var jqxhr = $.post("${context}" + actionPath + "?action=doImport",-->
                <!--$("#import_form").serialize(),-->
                <!--function (json) {-->
                    <!--if (json.ret != 0) {-->
                        <!--errorSpan.show().html(json.msg);-->
                        <!--return null;-->
                    <!--} else {-->
                        <!--$("#btn_import").attr("disabled", true);-->
                        <!--var reload = function () {-->
                            <!--location.reload();-->
                        <!--};-->
                        <!--$.unblockUI();-->
                        <!--var link = '<a href="javascript:;" style="text-decoration:underline;color:blue;" onclick="fgotoTask()">任务管理模块</a>';-->
                        <!--alert(name + "导入任务添加成功。\n请到 " + link + " 查看任务！", reload);-->
                    <!--}-->
                <!--}, "json");-->

        <!--jqxhr.error(function () {-->
            <!--errorSpan.show().html(name + "导入任务添加失败！");-->
        <!--});-->
    <!--}-->
    <!--function fgotoTask() {-->
        <!--hidDiv();-->
        <!--fgoto('17080000', '&nbsp;&gt;&nbsp;系统管理&nbsp;&gt;&nbsp;任务管理', taskUrl);-->
    <!--}-->
<!--</script>-->
<!--</div>-->