<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title b">账户余额</h3>
            </div>
            <div class="panel-body text-center">
                <h3 class="b"><i class="fa fa-jpy"></i> 9980.00</h3>
            </div>
            <div class="panel-footer text-center">含赠送金额8.00元</div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title b">企业认证</h3>
            </div>
            <div class="panel-body text-center">
                <h3 class="b"><i class="fa fa-credit-card"></i> 已经认证</h3>
            </div>
            <div class="panel-footer text-center">广州市玄武无线科技股份有限公司</div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title b">昨日消费</h3>
            </div>
            <div class="panel-body text-center">
                <h3 class="b"><i class="fa fa-money"></i> 233.00</h3>
            </div>
            <div class="panel-footer text-center">同比增长 5%</div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title b">已上线应用</h3>
            </div>
            <div class="panel-body text-center">
                <h3 class="b"><i class="fa fa-cloud-upload"></i> 3 个</h3>
            </div>
            <div class="panel-footer text-center">其中审核中应用 1 个</div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title b">开发者信息</h3>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <td width="20%" class="text-right bold">Account Sid：</td>
                <td width="80%">asdopqwlocdasofgasdhljh</td>
            </tr>
            <tr>
                <td class="text-right bold">Auth Token：</td>
                <td>
                    ****** &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs btn-warning" ng-click=""><i class="fa fa-crosshairs"></i> 查看</button>
                </td>
            </tr>
            <tr>
                <td class="text-right bold">Rest URL：</td>
                <td>http://api.wxchina.com:8088/v1.0.0/cmp/</td>
            </tr>
        </tbody>
    </table>
</div>
