<form class="form-inline table-toolbar">
    <button type="button" class="btn btn-sm btn-primary" ng-click="addApp()">
        <i class="fa fa-plus"></i>&nbsp;新增
    </button>
    <div class="form-group pull-right">
        <div class="input-group input-group-sm">
            <input type="text" ng-model="appParams.name" class="form-control" placeholder="应用名称" aria-describedby="basic-addon">
            <a class="input-group-addon" style="cursor: pointer;" ng-click="searchApps();" id="basic-addon"><i class="fa fa-search"></i></a>
        </div>
    </div>
</form>
<div class="loading-container">
    <div class="loading" ng-show="appsTable.settings().$loading"></div>
    <table ng-table="appsTable" class="table table-striped table-bordered table-hover">
        <tbody>
            <tr ng-repeat="app in $data">
                <td width="30" data-title="&nbsp;" header="'ng-table/headers/checkbox.html'">
                    <input type="checkbox" name="id" value="{{app.id}}" ng-checked="app.$selected" ng-click="checkOne(app);" />
                </td>
                <td data-title="'应用名称'" width="25%" align="center"><a ng-href="#/appmanage/app/detail/{{app.id}}">{{app.name}}</a></td>
                <td data-title="'状态'" width="25%" align="center">
                    <span ng-show="app.state=='OFFLINE'" class="label label-success">未上线</span>
                    <span ng-show="app.state=='ONLINE'" class="label label-info">运营中</span>
                    <span ng-show="app.state=='PAUSED'" class="label label-primary">已暂停</span>
                    <!--{{app.state=="OFFLINE"?"未上线":(app.state=="ONLINE"?"运营中":"已暂停")}}-->
                </td>
                <td data-title="'创建时间'" width="25%" align="center">{{app.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td data-title="'操作'" width="25%" align="center">
                    <a href="javascript:;" class="btn btn-warning btn-xs" ng-click="editApp(app.id)"><i class="fa fa-pencil"></i> 编辑</a>&nbsp;
                    <a ng-show="app.state=='OFFLINE'" href="javascript:;" class="btn btn-success btn-xs" ng-click="updateAppState(app,1)"><i class="fa fa-cloud-upload"></i> 上线</a>
                    <a ng-show="app.state=='ONLINE'" href="javascript:;" class="btn btn-primary btn-xs" ng-click="updateAppState(app,2)"><i class="fa fa-pause"></i> 暂停</a>
                    <a ng-show="app.state=='PAUSED'" href="javascript:;" class="btn btn-info btn-xs" ng-click="updateAppState(app,3)"><i class="fa fa-play"></i> 恢复</a> &nbsp;
                    <a href="javascript:;" class="btn btn-danger btn-xs" ng-click="deleteApp(app)"><i class="fa fa-remove"></i> 删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
